@model IEnumerable<CatalogCrud.Web.Models.ViewModels.CatalogVM>

@{
    ViewBag.Title = "Справочники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Справочники</h2>

<p>
    @Html.ActionLink("Добавить справочник", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Поля", "AttachedFields", new { catalogId = item.Id }) |
            @Html.ActionLink("Значения", "Values", new { catalogId = item.Id }) |
            @Html.ActionLink("Переименовать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @onclick = "return confirmDelete();" })
        </td>
    </tr>
}

</table>
