@model IEnumerable<CatalogCrud.Web.Models.ViewModels.FieldVM>

@{
    ViewBag.Title = "Поля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Поля</h2>

<p>
    @Html.ActionLink("Добавить поле", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
